{% extends "base.html" %}
{% load extras %}

{% block stylesheets %}
	<style type="text/css">
	table td { 
		border-top: none; 
		border-bottom: none; 
	}
	</style>
{% endblock %}

{% block content %}

<br><br><br><br>

<div class="container" id="sudoku">
	<table class="table">
	<tbody>
		{% for row in grid %}
			<tr>
			{% for element in row %}
				<td style="outline: 2px solid">{{ element }}</td>
			{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
	</table>
	<form action="{% url 'solve:input' %}">
		<input type="submit" value="Solve Another One">
	</form>

</div>
{% for posted_value in nothing %}
	{{ posted_value }}
{% endfor %}

{% endblock %}
