{% extends "base.html" %}
{% load extras %}
{% block stylesheets %}
	<style type="text/css">
	.parentCube {
		height:40px;
	}
	.childCube {
		width:99px;
	}
	input[type="number"]
	{
		padding:0px;
		margin-bottom:0px;
		border:none;
	}​
	textarea:focus, input:focus{
		outline: 0;
	}
	*:focus {
		outline: 0;
	}
	table { 
		border-spacing:10;
		border-collapse:collapse;
	}
	</style>
{% endblock %}

{% block content %}

<br><br><br><br>

<form name="sudokuInput" method="post" action="{% url 'solve:display' %}">
{% csrf_token %}
<div class="container" id="sudoku">
	<table class="table table-bordered">
	<tbody>
		{% for row in grid %}
			<tr>
			{% with forloop.counter0 as out_counter %}
			{% for element in row %}
				<td>
					{% with out_counter|multiply:9 as in_counter %}
					{% with in_counter|addition:forloop.counter0 as unique_id %}
						<input name="{{ unique_id }}" id="box{{ unique_id }}" type="number" min="1" max="9" style="border:none"/>
					{% endwith %}
					{% endwith %}
				</td>
			{% endfor %}
			{% endwith %}
			</tr>
		{% endfor %}
	</tbody>
	</table>
</div>
<input type="submit" name="submit" id="submit"/>
</form>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {

		{% for i in "81"|range_list %}
		$("#box{{ i }}").validate({
			rules: {
				amount: {
					required: true,
					digits: true
				}
			}
		});
		{% endfor %}


		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');
		function csrfSafeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			crossDomain: false, // obviates need for sameOrigin test
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type)) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});
	});
</script>
{% endblock %}