{% extends "base.html" %}
{% load extras %}
{% load static %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'solve/main.css' %}">
{% endblock %}

{% block content %}


<div class="container" id="sudoku">
	<h1 class="padding">Sudoku Solver</h1>
	<form name="sudokuInput" method="post" action="{% url 'solve:display' %}">
	{% csrf_token %}
		<table class="table table-bordered">
		<tbody>
			{% for row in "9"|range_list %}
				<tr class="row">
				{% with forloop.counter0 as out_counter %}
				{% for element in "9"|range_list %}
					<td>
						{% with out_counter|multiply:9 as in_counter %}
						{% with in_counter|addition:forloop.counter0 as unique_id %}
						<!-- WHY isnt the input tag working validating the input automatically???? -->
						<!-- Name and ID of each square is set to to an integer - (0 to 80) inclusive, ROW MAJOR -->
						
							<input name="{{ unique_id }}" id="{{ unique_id }}" type="number" min="1" max="9" style="border:none;" class="input-sm"/>

						{% endwith %}
						{% endwith %}
					</td>
				{% endfor %}
				{% endwith %}
				</tr>
			{% endfor %}
		</tbody>
		</table>
	<input type="submit" name="submit" id="submit"/>
</form>
<div class="fb-like" data-href="http://192.168.2.7:8000/solve" data-width="450" data-show-faces="true" data-send="true"></div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		// Need 2 things.
		// 1. Minimum Boxes filled constraint - 10-16 say
		// 2. Ensure all are single digit integers from 1-9 inclusive

		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		function getCookie(name) {
			var cookieValue = null;
			if (document.cookie && document.cookie != '') {
				var cookies = document.cookie.split(';');
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);
					if (cookie.substring(0, name.length + 1) == (name + '=')) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}
			return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');
		function csrfSafeMethod(method) {
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			crossDomain: false, // obviates need for sameOrigin test
			beforeSend: function(xhr, settings) {
				if (!csrfSafeMethod(settings.type)) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});
	});
</script>
{% endblock %}