{% extends "base.html" %}
{% load extras %}
{% load static %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'solve/main.css' %}">
{% endblock %}

{% block content %}


<div class="container" id="sudoku">
	<br>
	<h2 class="padding">Enter Grid</h2>
	<form name="sudokuInput" method="post" action="{% url 'solve:display' %}" id="gridForm">
	{% csrf_token %}
		<table class="table table-bordered" id="sudokuInputGrid">
		<tbody>
			{% for row in "9"|range_list %}
				<tr class="row">
				{% with forloop.counter0 as out_counter %}
				{% for element in "9"|range_list %}
					{% with out_counter|multiply:9 as in_counter %}
					{% with in_counter|addition:forloop.counter0 as unique_id %}
					<td id="cell-element{{ unique_id }}" class="valid-value">
						<!-- WHY isnt the input tag working validating the input automatically???? -->
						<!-- Name and ID of each square is set to to an integer - (0 to 80) inclusive, ROW MAJOR -->
						
							<input name="{{ unique_id }}" id="{{ unique_id }}" type="number" min="1" max="9" style="border:none;" class="input-sm"/>
					</td>
					{% endwith %}
					{% endwith %}
				{% endfor %}
				{% endwith %}
				</tr>
			{% endfor %}
		</tbody>
		</table>
	<input type="submit" name="submit" id="submit"/>
</form>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).ready(function() {
		var cells = new Array();
		for (var i = 0; i < 81; i++) {
			cells.push(i);
		}
		// $('#gridForm').submit(function() {
		// 	var value = $(cells).each(function(index) {
		// 		var response;
		// 		var input_box_id = '#' + index.toString();
		// 		var cell_id = '#cell-element' + index.toString();
		// 		return $(input_box_id).ready(function() {
		// 			response = displayAlert($(input_box_id).val(), cell_id);
		// 			if (response == false) {
		// 				alert($(input_box_id).val());
		// 				return false;
		// 			}
		// 		});
		// 		alert("aaa" + $(input_box_id).val());
		// 	});
		// 	alert($.isEmptyObject(value));
		// 	if (!$.isEmptyObject(value))
		// 		return false;
		// 	else
		// 		return true;
		// });
		verification(cells);

		function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			var csrftoken = getCookie('csrftoken');
			function csrfSafeMethod(method) {
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				crossDomain: false, // obviates need for sameOrigin test
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type)) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});
	});
	function verification (cells) {
		$(cells).each(function(index) {
			var input_box_id = '#' + index.toString();
			var cell_id = '#cell-element' + index.toString();
			$(input_box_id).change(function() {
				displayAlert($(this).val(), cell_id);
			});
		});
	}
	function displayAlert(input_value, cell_id) {
		if (input_value == "") {
			$(cell_id).removeClass('invalid-value').addClass('valid-value');
			console.log('Empty Cell');
			return true;
		}
		console.log('Not an Empty cell');
		if (!$.isNumeric(input_value)) {
			$(cell_id).removeClass('valid-value').addClass('invalid-value');
			console.log('not a numeric value');
			alert('Enter Numeric Value');
			return false;
		}
		else {
			console.log('numeric value');
			if (input_value < 1 || input_value > 9) {
				$(cell_id).removeClass('valid-value').addClass('invalid-value');
				console.log('invalid range');
				alert('Enter A Number Between 1 and 9 inclusive');
				return false;
			}
			else {
				console.log('valid input');
				$(cell_id).removeClass('invalid-value').addClass('valid-value');
				return true;
			}
		}
	}
</script>
{% endblock %}